#header-nav {
background-color: #f6b319;
border-radius: 0;
border: 0;
border: 1px solid black;
position: sticky;
top: 0;
}

header {
position: sticky;
top: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
text-decoration: none;
}

.navbar-brand{
padding-top: 15px;

}

.navbar-brand h1{
font-family: 'Inter', sans-serif;
font-size: 1.5em;
font-weight: bold;
color:black;
margin-top: 0;
margin-bottom: 0;
line-height: .75;
}

#collapsable-nav{
padding-top: 0;
margin: 0;



}

#nav-list{
background-color: #ffd9b3;
text-align: center;

}

#nav-list li{
width:100%;
font-size: 2em;
color: black;

}

body{
background-color: #FFFFFF;
}

h1 {
font-family: 'Inter', sans-serif;
text-align: center;
}

h2 {
text-align: center;
padding-top: 10px;
}

.navbar-toggle collapsed {
float:right;
right: 0px;
}

.text-center{
text-align: center;
}

section{
background-color: #f6b319;
margin: 15px;
padding: 5px;
font-family: 'Inter', sans-serif;
}

.text {
background-color: #f6b319;
}

p{
text-align: center;
padding: 5px;
}
